.conv {
  height: 250px;
  overflow-y: scroll;
  background-color:#ffffff;
}

.inpoute{
  width: 242px;
}

/*.pop {
  width:100%;
  height:100px;
  padding-top:-90px;
  border-bottom:solid 2px #b7b7b7;
}*/

.tchat {
  width: 250px;
  padding: 10px;
  float: right;
  border-radius: 20px;
  border:5px solid #23c7ea;
  background-color:#ff9d00;
}

.avatar {
  width: 200px;
  padding: 10px;
  float: right;
  color:#ff9d00;
}

.avatar h1{
  padding-bottom: 10px;
  padding-top: 10px;
}

.avatar h3{
  padding-bottom: 10px;
}

.photos {
  width: 60vw;
  margin-right: 40px;
  padding-left:10px;
}

.utilities {
  float: right;
  position: fixed;
  right: 30px;
  border-radius: 20px;
  background-color:#ffffff;
}