.conv {
  height: 250px;
  overflow-y: scroll;
}

/*.pop {
  width:100%;
  height:100px;
  padding-top:-90px;
  border-bottom:solid 2px #b7b7b7;
}*/

.tchat {
  width: 250px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 20px;
  float: right;
}

.photos {
  width: 60vw;
  margin-right: 40px;
}

.utilities {
  float: right;
  position: fixed;
  right: 30px;
}