header {
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 20px;
  border-bottom: 2px solid #ffffff;
  background: #ff9d00;
  color:#ffffff;
}

.headerSpace {
  height: 80px;
}

#login-buttons {
  float: right;
  margin-right: 300px;
}