header {
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 20px;
  border-bottom: 1px solid black;
  background: #fff;
}

.headerSpace {
  height: 80px;
}

#login-buttons {
  float: right;
  margin-right: 40px;
}