<template name="gaming">
  {{ #with game }}
  <div class="utilities">
    <div class="tchat">
      <div class="conv">
        {{ #each messages }}
          <p>{{ this.creator }} : {{ this.text }}</p>
        {{ /each }}
      </div>
      <form action="">
        <input type="text" required>
        <button>Envoyer</button>
      </form>
      <button class="turn">Passer la main</button>
    </div>
    <h1 class="winner">WINNER : {{ #if this.winner }}{{ this.winner }}{{ else }} ??? {{ /if }}</h1>
    <h3>Tour actuel : {{ this.turn }} {{ #if checkWaiting }} en attente d'un joueur {{ /if }}</h3>
    {{ #if checkCreator }}
    <img src="/{{ this.answercreator }}.jpg">
    {{ /if }}
  </div> <!-- utilities -->
  <div class="photos">
    {{ #if checkCreator }}
    <div class="unchecked">
      {{ #each this.poolcreator }}
        <img src="/{{ this }}.jpg">
      {{ /each }}
    </div>
    {{ else }}
    <img src="/{{ this.answerguy }}.jpg">
    <div class="unchecked">
      {{ #each this.poolguy }}
        <img src="/{{ this }}.jpg">
      {{ /each }}
    </div>
    {{ /if }}
  </div> <!-- photos -->
  {{ /with }}
</template>